html{
    margin: 10;
    padding: 10;
    font-family: -apple-system÷, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Fire Sans', sans-serif;
    /* font-size:x-large; */
    background-color: royalblue;
    /* background-color:dodgerblue; */
    /* background-image: url("https://external-preview.redd.it/7_PNegGt98crnDZhmDD3udCjNLVAA5F0CasTv1uM1HQ.jpg?width=640&crop=smart&auto=webp&s=c151a6ec620edf0a3cac750dec33fb2748874309"); */
    background-size: contain;
    box-sizing: border-box;
}
h1{
    color: aliceblue;
    font-weight: 400;
    text-align: center;
}
#main{
    text-align: center;
    color: aliceblue;
}

.error{
    font-size: larger;
    color: red;
}

footer {
    /* position: absolute; */
    bottom: 0;
    color: aliceblue;
    font-size: small;
    text-align: center;
}
#selectHolder{
    font-size: large;
    /* color: hotpink; */
    border: 1px solid gray;
    box-shadow: 2px 4px 5px  darkblue;
    padding: 10px;
    margin-top: 5px;
}
#resultsblock{
    font-family:monospace;
    color:rgb(0, 128,0);
    text-shadow: 1px .5px lightgreen;
    font-size: x-large;
    background-color: black;
    padding: 10px;
}
#resultsblock2{
    font-family:monospace;
    color: rgb(0, 128,0);
    text-shadow: 1px .5px lightgreen;
    font-size: x-large;
    background-color: black;
    padding: 10px;
}
#resultsblock3{
    font-family:monospace;
    color: rgb(0, 128,0);
    text-shadow: 1px .5px lightgreen;
    font-size: x-large;
    background-color: black;
    padding: 10px;
}